.card1 {
    background-color: orange;
}
.sal-text {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: black;
}
.repeating {
    opacity: 75%;
    box-shadow: 0px 0px 30px 10px black;
}
.card2 {
    background-color: pink;
}
.card3 {
    background-color: lightcoral;
}
.card8 {
    background-color: magenta;
}
.card7 {
    background-color: darkgrey;
}
.card9 {
    background-color: lightslategray;
}
.card4 {
    background-color: lightgreen;
}
.card5 {
    background-color: rgb(194, 84, 194);
}
.card6 {
    background-color: blue;
}

.btn1:hover {
    box-shadow: 0px 0px 30px 10px blue;
}
.btn2:hover {
    box-shadow: 0px 0px 40px 10px green;
}
.btn3:hover {
    box-shadow: 0px 0px 30px 10px turquoise;
}
.btn4:hover {
    box-shadow: 0px 0px 30px 10px magenta;
}
.btn5:hover {
    box-shadow: 0px 0px 30px 10px purple;
}
.btn6:hover {
    box-shadow: 0px 0px 30px 10px darkgreen;
}
.btn7:hover {
    box-shadow: 0px 0px 30px 10px maroon;
}
.btn8:hover {
    box-shadow: 0px 0px 30px 10px yellow;
}
.btn9:hover {
    box-shadow: 0px 0px 30px 10px darkred;
}
.butten {
    border-radius: 50px;
}
.navbar {
    background: honeydew;
}